<h1><%= @list.name%></h1>
<div class="d-flex flex-row">
<% @list.bookmarks.each do |bookmark| %>
  <div class="d-flex flex-column">
<% if bookmark.photo.attached? %>
<%= cl_image_tag(bookmark.photo.key, width: 25, height: 25, class: "mb-1") %>
<%= cl_image_tag(bookmark.movie.poster_url, height: 250) %>
<%= bookmark.movie.title %>
   <span>
    <%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: {confirm: 'are you sure?'}, class:"align-center" %>
   </span>
   </div>
</div>
 <% end %>
<% end %>

<%= link_to 'Add a movie to your list', new_list_bookmark_path(@list) %>

<div>

<%= link_to 'Back to your lists', lists_path  %>

</div>

<!-- /lists/1/bookmarks/new -->
<!-- list/:list_id/bookmarks -->
<!-- sweet alert -->
<!-- add confirm delete -->
